.btn.customButtonGreen {
    --bs-btn-bg: transparent;
    background-image: linear-gradient(180deg, #32d25d, #2cb6d8);
    --bs-btn-border-color: #2cb6d8;
    --bs-btn-color: #fff;
    --bs-btn-border-radius: 50px;
}

.btn.customButtonGray {
    color: hsl(233, 8%, 62%);
}

.customViewHeight {
    max-height: 33vh;
    width: 100%;
    object-fit: cover;
}

body{
   font-family: "Public Sans", sans-serif !important;
}

.customDarkText{
    color: hsl(233, 26%, 24%);
}

.customRightMargin{
    margin-right: -50vw; padding-right: 50vw;
}